// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Circle",
  "position": "BottomRight",
  "showDayNight": "true",
  "info1Label": "Biome",
  "info2Label": "Location",
  "info3Label": "GameTime",
  "info4Label": "FPS",
  "positionX": "90",
  "positionY": "25",
  "sizePercent": "20",
  "frameAlpha": "70",
  "terrainAlpha": "70",
  "backgroundAlpha": "0.8",
  "orientation": "North",
  "compassFontScale": "1.0",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "LargeIcons",
  "playerDisplayScale": "0.5",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeIcons",
  "mobDisplayScale": "0.5",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "2.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "1",
  "configVersion": "5.7.3"
}