/woot
/voxelmap
/texturepacks
/shaderpacks
/server-resource-packs
/screenshots
/saves
/resourcepacks
/patchouli_books
/logs
/crash-reports
/coremods
/.mixin.out
/.vote2020_marker
/BotaniaVars.dat
/chooser_0.png
/icon.png
/mobs_0.png
/options.txt
/patchouli_data.json
/pings_0.png
/realms_persistence.json
/usercache.json
/waypoints_0.png
/usernamecache.json
/.vscode
/backups