/usercache.json
/BotaniaVars.dat
/chooser_0.png
/icon.png
/mobs_0.png
/options.txt
/patchouli_data.json
/pings_0.png
/realms_persistence.json
/usernamecache.json
/waypoints_0.png
/woot
/voxelmap
/texturepacks
/server-resource-packs
/screenshots
/saves
/resourcepacks
/logs
/crash-reports
/.vscode
/.mixin.out
/coremods
/ESM
/natives
/schematics
/local
/backups
/shaderpacks
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/journeymap.log
/config/**/*.toml.bak
/background.png
/config.json
/imm_ptl_state.json
/optionsof.txt
/optionsshaders.txt
config/startupQoL/startup_times.json
config/jei/recipe-category-sort-order.ini
/mantle_data_dump
/hold
/TrashSlotSaveState.json
/config.bak.json
/skyblock_exports
/.curseclient
/minecraftinstance.json
/config/startupQoL/startup_times.json